@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default, dark --prefersdark;
  themes: light --default;
}

:root {
 
  --color-primary: #ff1684;    
  --color-background: #0d1117;  
  --color-white: #ffffff;

 
  --font-size-large: 1.5rem;  
  --font-size-medium: 1.125rem; 
  --font-size-small: 0.875rem; 
}


.text-primary {
  color: var(--color-primary);
}

.text-white {
  color: var(--color-white);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-dark {
  background-color: var(--color-background);
}

.bg-white {
  background-color: var(--color-white);
}

.font-large {
  font-size: var(--font-size-large);
}

.font-medium {
  font-size: var(--font-size-medium);
}

.font-small {
  font-size: var(--font-size-small);
}
