@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

/* @plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #209187;
    --color-secondary: #27292b;
    --color-accent: #e0ad1f;
}

@plugin "daisyui/theme" {
    name: "dark";
    --color-primary: #3b82f6;
    --color-secondary: #fffff;
} */

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #2563eb;
    --color-secondary: #1e293b;
    --color-accent: #14b8a6;
}

@plugin "daisyui/theme" {
    name: "dark";
    --color-primary: #16b6cf;
    --color-secondary: #334155;
    --color-accent: #f43f5e;
}

.p {
    color: #16b6cf;
}